@import "compass/reset";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,400i,500,500i,600,700|Nunito+Sans:300,400,400i,600,700');

body{
	cursor: default; 
}
header {
	background: url(http://i.piccy.info/i9/184396a1cf865d8d7b352ddc8c0fa736/1508938613/477182/1185355/header_background.png) left top no-repeat;
	background-size: 100%;
}
.header_1 {
	display: flex;
	margin: 0 130px 60px 130px;
	padding: 60px 0 0 0;
	color: #c4cbce;
	justify-content: space-between;
}
.logo {
	font-size: 118.5px;
	font-style: italic;
	padding: 0 0 0 85px;
	cursor: pointer;
}
.top_nav {
	display: flex;
	font-size: 22.6px;
	font-family: $segoe;
	font-weight: lighter;
	li {
		padding: 0 50px 0 0;
	}
	a {
		text-decoration: none;
		color: #c4cbce;
	}
	a:hover {
		opacity: 0.8;
	}
	a:focus {
		opacity: 0.8;
		outline: none;
	}
	a:active {
		opacity: 0.5;
	}
}
.header_2 {
	display: flex;
	justify-content: space-around;
	img {
		margin: 0 0 -50px 120px;
	}
}
.arrow_left {
		width: 49px;
		height: 49px;
		border-radius: 50%;
		background: url(http://i.piccy.info/i9/48f4aa8504dd9763c1e00a28148fa2fe/1508944595/1223/1185355/arrow_left.png);
		border: none;
		cursor: pointer;
		// margin: 0 27px 0 55px;
		align-self: center;
	}
.arrow_left:hover {
	opacity: 0.8;
}
.arrow_left:focus {
	opacity: 0.8;
	outline: none;
}
.arrow_left:active {
	opacity: 0.5;
}
.arrow_right {
		width: 49px;
		height: 49px;
		border-radius: 50%;
		background: url(http://i.piccy.info/i9/095358fbb2ef76a5e4bb92e1eafbbf32/1508944890/1228/1185355/arrow_right.png);
		border: none;
		cursor: pointer;
		// margin: 0 55px 0 27px;
		align-self: center;
	}
.arrow_right:hover {
	opacity: 0.8;
}
.arrow_right:focus {
	opacity: 0.8;
	outline: none;
}
.arrow_right:active {
	opacity: 0.5;
}
.header_title {
	margin: 0 167px 0 75px;
	align-self: center;
	h2 {
		font-family: $segoe;
		font-weight: 400;
		color: #fff;
		font-size: 60px;
		line-height: 1.3;
	}
	p {
		font-family: $segoe;
		font-weight: 300;
		color: #fff;
		font-size: 40px;
	}
	button {
		margin: 34px 0 53px 0;
		background: #175b3b;
		color: #fff;
		border: none;
		border-radius: 1px;
		box-shadow: 0px 0px 0px 4px rgba(24,28,25,0.4);
		width: 138px;
		height: 38px;
		font-family: $segoe;
		font-weight: 200;
		font-size: 22.6px;
		color: #e0eae5;
	}
	button:hover {
		box-shadow: 0px 0px 0px 4px rgba(24,28,25,0.8);
	}
	button:focus {
		outline: none;
		opacity: 0.8;
	}
	button:active {
		opacity: 0.7;
	}
}

