@import "compass/reset";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,400i,500,500i,600,700|Nunito+Sans:300,400,400i,600,700');

body{
	cursor: default; 
}
header {
	background: url(http://i.piccy.info/i9/184396a1cf865d8d7b352ddc8c0fa736/1508938613/477182/1185355/header_background.png) left top no-repeat;
	background-size: 100%;
}
.header_1 {
	display: flex;
	margin: 0 130px 60px 130px;
	padding: 60px 0 0 0;
	color: #c4cbce;
	justify-content: space-between;
}
.logo {
	font-size: 118.5px;
	font-style: italic;
	padding: 0 0 0 85px;
	cursor: pointer;
}
.top_nav {
	display: flex;
	font-size: 22.6px;
	font-family: $segoe;
	font-weight: lighter;
	li {
		padding: 0 50px 0 0;
	}
	a {
		text-decoration: none;
		color: #c4cbce;
	}
	a:hover {
		opacity: 0.8;
	}
	a:focus {
		opacity: 0.8;
		outline: none;
	}
	a:active {
		opacity: 0.5;
	}
}
.header_2 {
	display: flex;
	justify-content: space-around;
	img {
		margin: 0 0 -50px 120px;
	}
}
.arrow_left {
		width: 49px;
		height: 49px;
		border-radius: 50%;
		background: url(http://i.piccy.info/i9/48f4aa8504dd9763c1e00a28148fa2fe/1508944595/1223/1185355/arrow_left.png);
		border: none;
		cursor: pointer;
		margin: 0 27px 0 55px;
		align-self: center;
	}
.arrow_left:hover {
	opacity: 0.8;
}
.arrow_left:focus {
	opacity: 0.8;
	outline: none;
}
.arrow_left:active {
	opacity: 0.5;
}
.arrow_right {
		width: 49px;
		height: 49px;
		border-radius: 50%;
		background: url(http://i.piccy.info/i9/095358fbb2ef76a5e4bb92e1eafbbf32/1508944890/1228/1185355/arrow_right.png);
		border: none;
		cursor: pointer;
		margin: 0 55px 0 27px;
		align-self: center;
	}
.arrow_right:hover {
	opacity: 0.8;
}
.arrow_right:focus {
	opacity: 0.8;
	outline: none;
}
.arrow_right:active {
	opacity: 0.5;
}
.header_title {
	margin: 0 167px 0 75px;
	align-self: center;
	h2 {
		font-family: $segoe;
		font-weight: 400;
		color: #fff;
		font-size: 60px;
		line-height: 1.3;
	}
	p {
		font-family: $segoe;
		font-weight: 300;
		color: #fff;
		font-size: 40px;
	}
	button {
		margin: 34px 0 53px 0;
		background: #175b3b;
		color: #fff;
		border: none;
		border-radius: 1px;
		box-shadow: 0px 0px 0px 4px rgba(24,28,25,0.4);
		width: 138px;
		height: 38px;
		font-family: $segoe;
		font-weight: 200;
		font-size: 22.6px;
		color: #e0eae5;
	}
	button:hover {
		box-shadow: 0px 0px 0px 4px rgba(24,28,25,0.8);
	}
	button:focus {
		outline: none;
		opacity: 0.8;
	}
	button:active {
		opacity: 0.7;
	}
}
// -------------------------------------------------NAV----------------------------------------------------------------

nav ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 92px 130px 55px 130px;
	li {
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-basis: 25%;
		a {
		text-decoration: none;
		font-size: 26.6px;
		text-align: center;
		color: #7b7a7a;
		font-family: $segoe;
		font-weight: 300;
		margin: 25px 0 52px 0;
		}
		a:hover{
			font-weight: 500;
		}
		a:focus{
			font-weight: 500;
			outline: none;
		}
		a:active{
			opacity: 0.8;
		}
	}
}

// -----------------------------------------------main-------------------------------------------------------------------

.ipad {
	margin: auto;
	display:flex;
	align-self: center;
}
article {
	margin: 40px 130px 0 130px;
}
.section_1 {
	margin: 0 55px 100px 55px;
	h3 {
		font-size: 38.6px;
		font-family: $segoe;
		color: #4f4f4f;
		font-weight: 300;
		margin: 0 0 40px 0;
	}
	p {
		color: #818181;
		font-size: 14px;
		font-family: $segoe;
		font-weight: 300;
		line-height: 2;
	}
}
.section_2 {
	display: flex;
	justify-content: space-around;
	// margin: 0 130px 0 130px;
}
.choice {
	align-self: center;
	h3 {
		font-family: $segoe;
		font-size: 32.6px;
		color: #4f4f4f;
		font-weight: 300;
	}
	ul {
		font-family: $univers;
		font-size: 16px;
		color: #8a8888;
		margin: 30px 0 0 0;
		li {
			margin: 0 0 20px 0;
			display: flex;
			align-items: center;
		}
		li:before {
			content: url(http://i.piccy.info/i9/9195f7b51cb9896604718a3fd71b753f/1509022862/408/1185355/marker_li.png);
			padding-right: 14px;
		}
	}
}
.inputs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 100px 0 35px 0;
}
.login {
	background: #e67624;
	border-radius: 5px;
	width: 470px;
	margin: 0 20px 0 0;
	h3 {
		color: #fff;
		font-size: 28px;
		font-family: $segoe;
		font-weight: 200;
		margin: 20px 0 25px 29px;
	}
	div {
		display: flex;
		margin: 0 0 20px 29px;
		input[type="text"] {
			width: 143px;
			height: 26px;
			border: none;
			outline: none;
			font-family: $segoe;
			font-size: 16px;
			color: #4f4f4f;
			padding: 0 0 0 12px;
			margin-right: 13px;
		}
		input[type="submit"] {
			width: 94px;
			height: 28px;
			background: #444444;
			color: #fff;
			font-family: $segoe;
			font-size: 16px;
			border: none;
			font-weight: 300;
			outline: none;
			cursor: pointer;
			margin-right: 16px;
		}
		input[type="submit"]:hover {
			opacity: 0.9;
		}
		input[type="submit"]:focus {
			opacity: 0.9;
		}
		input[type="submit"]:active {
			opacity: 0.8;
		}
	}
}
.subscribe {
	background: #01d4f3;
	border-radius: 5px;
	width: 470px;
	h3 {
		color: #fff;
		font-size: 26px;
		font-family: $segoe;
		font-weight: 200;
		margin: 20px 0 25px 30px;
	}
	div {
		display: flex;
		margin: 0 0 20px 30px;
		input[type="text"] {
			width: 264px;
			height: 26px;
			border: none;
			outline: none;
			font-family: $segoe;
			font-size: 16px;
			color: #4f4f4f;
			padding: 0 0 0 12px;
			margin: 0 50px 0 0;
		}
		input[type="submit"] {
			width: 112px;
			height: 28px;
			background: #029bb1;
			color: #abdee5;
			font-family: $segoe;
			font-size: 16px;
			border: none;
			font-weight: 300;
			outline: none;
			cursor: pointer;
			margin-right: 15px;
		}
		input[type="submit"]:hover {
			opacity: 0.9;
		}
		input[type="submit"]:focus {
			opacity: 0.9;
		}
		input[type="submit"]:active {
			opacity: 0.8;
		}
	}
}
// -----------------------------------------------------FOOTER-----------------------------------------------------------

footer {
	background: url(http://i.piccy.info/i9/6474f08b9e7d6faac51e8321ce90c91e/1509028835/23045/1185355/footer_background.jpg) top left repeat-y;
	background-size: 100%;
}
.footer {
	padding: 40px 130px 55px 130px;
	display: flex;
	justify-content: space-around;
}
.about_us_1, .about_us_2 {
	margin: 0 90px 0 0;
	min-width: 110px;
	h4 {
		font-size: 22px;
		font-family: $segoe;
		color: #d8d7d8;
		margin-bottom: 5px;
		font-weight: 200;
	}
	ul li {
		font-size: 13px;
		font-family: arial;
		color: #919091;
		margin-top: 15px;
		font-weight: 600;
	}
}
.testimoanials {
	flex-basis: 35%;
	div {
		display: flex;
		button {
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background: none;
			border: none;
			margin: 4px;
		}
		button:hover {
			opacity: 0.9;
		}
		button:focus {
			opacity: 0.9;
			outline: none;
		}
		button:active {
			opacity: 0.8;
		}
	}
	h4 {
		font-size: 22px;
		font-family: $segoe;
		color: #d8d7d8;
		margin: 0 30px 5px 0;
		font-weight: 200;
	}
	p {
		font-size: 13px;
		font-family: arial;
		color: #919091;
		line-height: 2;
		font-weight: 600;
	}
}
.bottom_logo {
	margin: 0 0 0 30px;
	h1{
	font-size: 118.5px;
	font-style: italic;
	color: #5d5a57;
	cursor: pointer;
	margin: 0 0 40px 0;
	}
	span {
		font-size: 13px;
		font-family: arial;
		color: #fff;
		
	}
}

@import "media"